{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        {% block pregroup %}{% endblock %} {% block group_content %}{% endblock %} {% block postgroup %}{% endblock %}

    </div>

    {% endblock %} {% block group_content1 %}
    <div class="col-md-8">
        <div class="list-group">
            {% for group in object_list %}
            <a class="list-group-item" href="{% url 'groups:single' slug=group.slug %}">
                <h3 class="title list-group-item-heading"> {{group.name}}</h3>
                <div class="list-group-item-text container-fluid">
                    {{group.description_html|safe}}
                    <div class="col-md-4">
                        <span class="badge">
                            {{group.members.count}}
                        </span>
                        member{{group.member.count|pluralize }}
                    </div>
                    <div class="col-md-4">
                        <span class="badge">{{group.posts.count}}
                        </span>
                        post {{group.posts.count|pluralize}}
                    </div>
                </div>
        </div>
        </a>
        {% endfor %}
    </div>
</div>


{% endblock %}